Repository vadolasi/site: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

pre-commit:
  commands:
    prettier:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    eslint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true

prepare-commit-msg:
  commands:
    commitzen:
      interactive: true
      run: pnpm cz --hook
      env:
        LEFTHOOK: "0"

commit-msg:
  commands:
    "lint commit message":
      run: pnpm commitlint --edit {1}

feat: improve SEO
  .playwright-mcp/page-code-block.png
  .playwright-mcp/page-initial.png
  .playwright-mcp/page-with-twoslash-popup.png
  .playwright-mcp/popup-final-test.png
  .playwright-mcp/popup-final.png
  .playwright-mcp/popup-hidden-by-default.png
  .playwright-mcp/popup-on-hover.png
  .playwright-mcp/popup-visible-final.png
  .playwright-mcp/popup-visible.png
  .playwright-mcp/popup-with-better-background.png
  .playwright-mcp/popup-without-scrollbar.png
  package.json
  pnpm-lock.yaml
  prebuild.ts
  scripts/generate-series.ts
  src/app.html
  src/content/posts/como-baixar-uma-pasta-de-um-repositorio-github/cover.webp
  src/lib/server/generate-series.ts
  src/lib/server/markdown.ts
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/about/+page.server.ts
  src/routes/atom.xml/+server.ts
  src/routes/blog/+page.server.ts
  src/routes/blog/[slug]/+page.server.ts
  src/routes/blog/[slug]/TableOfContents.svelte
  src/routes/layout.css
  src/routes/sitemap.xml/+server.ts
  vite.config.ts
Due: prettier, eslint

fix: set cover url in atom feed
  src/routes/atom.xml/+server.ts
Due: prettier, eslint

feat: add newsletter
  .env.example
  package.json
  pnpm-lock.yaml
  src/content/posts/como-eu-encontrei-uma-vulnerabilidade-no-sistema-da-minha-universidade/cover.webp
  src/content/posts/como-eu-encontrei-uma-vulnerabilidade-no-sistema-da-minha-universidade/httptoolkit.png
  src/content/posts/como-eu-encontrei-uma-vulnerabilidade-no-sistema-da-minha-universidade/post.md
  src/content/posts/como-eu-encontrei-uma-vulnerabilidade-no-sistema-da-minha-universidade/tim_email.png
  src/lib/components/ImageLightbox.svelte
  src/lib/components/NewsletterSubscribe.svelte
  src/lib/server/markdown.ts
  src/lib/server/rehype-enhanced-images.ts
  src/lib/server/rehype-mermaid-simple.ts
  src/routes/api/newsletter/+server.ts
  src/routes/blog/[slug]/+page.server.ts
  src/routes/blog/[slug]/+page.svelte
  src/routes/video-propesq/+server.ts
  wrangler.jsonc
Due: prettier, eslint

fix: fiz newsletter
  src/routes/api/newsletter/+server.ts
Due: prettier, eslint

fix: fiz newsletter
  src/lib/components/NewsletterSubscribe.svelte
Due: none

fix: improve newsletter CTA
  src/lib/components/NewsletterSubscribe.svelte
  src/routes/blog/[slug]/+page.svelte
Due: none

fix: improve newslleter cta
  src/routes/blog/+page.svelte
  src/routes/blog/[slug]/+page.svelte
Due: none

feat: add OG image generation
  package.json
  pnpm-lock.yaml
  src/lib/components/og/ArticleOG.svelte
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/blog/+page.svelte
  src/routes/blog/[slug].png/+server.ts
  src/routes/blog/[slug]/+page.server.ts
  src/routes/blog/[slug]/+page.svelte
  src/routes/images/blog/[slug].png/+server.ts
  vite.config.ts
Due: prettier, eslint

feat: add some projects
  package.json
  pnpm-lock.yaml
  src/content/projects/nodus.md
  src/content/projects/zapdiviser.md
  src/lib/assets/nodus.png
  src/lib/assets/zapdiviser.jpg
Due: prettier

fix: fix some projects
  src/content/projects/inbcm.md
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/blog/+page.svelte
  src/routes/blog/[slug]/+page.svelte
  src/routes/images/blog/[slug].png/+server.ts
Due: prettier, eslint
